@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
@import "https://use.fontawesome.com/releases/v5.4.1/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Open+Sans:300,300i,400,400i,700");
.color-main {
  color: #5AA3C1; }

.color-dark {
  color: #3B4F61; }

.color-dark-accent {
  color: #000; }

.color-extra-dark {
  color: #000; }

.color-light {
  color: #EDEDED; }

.color-light-accent {
  color: #81C0D3; }

.color-extra-light {
  color: #fff; }

.color-white {
  color: #fff; }

.color-black {
  color: #000; }

.color-main-copy {
  color: #6D6E63; }

/* -------------------------------------------------------------------------- */
/* Typography */
/* -------------------------------------------------------------------------- */
/* Primary Header */
h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.4375rem;
  line-height: 3.4375rem; }
  h1.is-light {
    font-weight: 300; }
  h1.is-regular {
    font-weight: 400; }
  h1.is-bold {
    font-weight: 700; }
  h1.is-italic {
    font-style: italic; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 2.8125rem;
  line-height: 2.8125rem;
  font-weight: 300; }
  h2.is-regular {
    font-weight: 400; }
  h2.is-bold {
    font-weight: 700; }
  h2.is-italic {
    font-style: italic; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5625rem;
  line-height: 1.5625rem;
  font-weight: 300;
  font-style: italic; }

h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.4375rem;
  line-height: 1.4375rem;
  font-weight: 400; }

/* All Other Headers */
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.body-copy {
  font-size: 1;
  line-height: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }
  .body-copy.is-bold {
    font-weight: 700; }

/* Lead Text (hero) */
.lead-copy {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 40px;
  font-weight: 300; }

/* Footer2 Text */
.small-copy {
  font-size: 15px;
  line-height: 22.5px;
  font-family: "Open Sans", sans-serif; }
  .small-copy.is-light {
    font-weight: 300; }
  .small-copy.is-reg {
    font-weight: 400; }
  .small-copy.is-bold {
    font-weight: 700; }
  .small-copy.is-spaced {
    line-height: 30px; }

.event-sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-style: italic; }

.event-header {
  font-family: "Lato", sans-serif;
  font-size: 100px;
  line-height: 100px;
  font-weight: 700; }

.event-sub-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  line-height: 60px; }

/* Text Modifiers */
.wrap-75 {
  width: 100%;
  max-width: 650px;
  margin: 0 auto; }

input {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 200% !important; }
    h1 .subscript {
      font-size: 1.2rem; }
  h2 {
    font-size: 200%; }
  h1 {
    line-height: 2rem; }
  h2,
  h3 {
    line-height: 2rem; }
  .event-sub-header,
  .event-header,
  .event-sub-2 {
    font-size: 250%;
    line-height: 100%; } }

/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */
header {
  position: absolute;
  width: 100%;
  z-index: 9999; }

/* TOPBAR */
.topbar {
  width: 100%;
  height: auto;
  background-color: #81C0D3; }
  .topbar .active {
    background-color: #5AA3C1;
    display: inline-block;
    padding: .4rem .3rem; }
  .topbar .top-location {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #EDEDED; }
  .topbar .top-link {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #EDEDED;
    margin-right: .5rem; }
    @media screen and (min-width: 992px) {
      .topbar .top-link {
        margin-right: 1rem; } }
  .topbar .top-location:hover,
  .topbar .top-link:hover {
    color: #3B4F61;
    text-decoration: none; }
  .topbar .top-link:last-child {
    margin-right: 0;
    padding-right: 0 !important; }

/* -------------------------------------------------------------------------- */
/* NAVBAR STYLES */
/* -------------------------------------------------------------------------- */
.navbar-wrapper {
  background-color: #fff;
  width: 100%;
  height: auto;
  position: relative; }
  .navbar-wrapper .logo {
    width: 100%;
    height: auto; }
    @media screen and (min-width: 1200px) {
      .navbar-wrapper .logo {
        width: 65%;
        height: auto; } }
  @media screen and (min-width: 992px) {
    .navbar-wrapper {
      background-color: transparent; } }

.navbar {
  z-index: 10; }
  .navbar .nav-logo {
    max-width: 150px; }

.nav-item {
  margin-right: 1rem; }
  .nav-item .nav-link {
    font-family: "Open Sans", sans-serif !important;
    color: #3B4F61 !important;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: normal; }
    .nav-item .nav-link:hover {
      color: #81C0D3 !important; }

.nav-item .nav-link:last-child {
  padding-right: 0;
  padding-left: 0; }

.nav-item.nav-divider {
  position: relative; }
  .nav-item.nav-divider::after {
    content: "•";
    color: #5AA3C1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; }

.nav-item:last-child {
  margin-right: 0 !important; }
  .nav-item:last-child .nav-link {
    margin-right: 0; }

.dropdown-menu {
  background-color: #5aa3c1;
  border-color: transparent;
  margin-top: 0 !important; }
  .dropdown-menu .dropdown-item {
    color: #EDEDED;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }
    .dropdown-menu .dropdown-item:hover {
      background-color: transparent;
      color: #fff; }
    .dropdown-menu .dropdown-item:focus {
      background: transparent; }

.dropdown-toggle::after {
  border: none !important;
  margin-left: 0 !important; }

/* -------------------------------------------------------------------------- */
/* BUTTON STYLES */
/* -------------------------------------------------------------------------- */
.ui-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05rem;
  line-height: 0.9375rem;
  padding: 0.6rem 0rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.ui-btn-main {
  background-color: #5AA3C1;
  border: 1px solid #5AA3C1;
  color: #fff; }
  .ui-btn-main:hover {
    color: #fff;
    border: 1px solid #7fb8cf;
    background-color: #7fb8cf;
    text-decoration: none; }

.ui-btn-main-ol {
  background-color: transparent;
  border: 1px solid #5AA3C1;
  color: #5AA3C1; }
  .ui-btn-main-ol:hover {
    color: #EDEDED;
    border: 1px solid #7fb8cf;
    background-color: #7fb8cf;
    text-decoration: none; }

.ui-btn-light {
  background-color: #EDEDED;
  border: 1px solid #EDEDED;
  color: #3B4F61; }
  .ui-btn-light:hover {
    color: #3B4F61;
    background-color: #c7c7c7;
    border: 1px solid #c7c7c7;
    text-decoration: none; }

.ui-btn-light-accent {
  background-color: #81C0D3;
  border: 1px solid #81C0D3;
  color: #fff; }
  .ui-btn-light-accent:hover {
    color: #fff;
    background-color: #badce7;
    border: 1px solid #badce7;
    text-decoration: none; }

.ui-btn-extra-light-accent {
  background-color: #EDEDED;
  border: 1px solid #EDEDED;
  color: #fff; }
  .ui-btn-extra-light-accent:hover {
    color: #fff;
    background-color: #EDEDED;
    border: 1px solid #EDEDED;
    text-decoration: none; }

.ui-btn-dark {
  background-color: #3B4F61;
  border: 1px solid #3B4F61;
  color: #fff; }
  .ui-btn-dark:hover {
    color: #fff;
    background-color: #587691;
    border: 1px solid #587691;
    text-decoration: none; }

.ui-btn-light-ol {
  background-color: transparent;
  border: 1px solid #EDEDED;
  color: #EDEDED; }
  .ui-btn-light-ol:hover {
    color: #3B4F61;
    background-color: rgba(237, 237, 237, 0.5);
    border: 1px solid rgba(237, 237, 237, 0.5);
    text-decoration: none; }

.ui-btn-white {
  background-color: #fff;
  border: 1px solid #fff;
  color: #5AA3C1; }
  .ui-btn-white:hover {
    color: main;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    text-decoration: none; }

.ui-btn-white-ol {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff; }
  .ui-btn-white-ol:hover {
    color: #3B4F61;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    text-decoration: none; }

.ui-btn-group .ui-btn:not(:last-child) {
  margin-right: 0.85rem; }

/* -------------------------------------------------------------------------- */
/* LINKS - SITEWIDE */
/* -------------------------------------------------------------------------- */
.footer1 .footer-link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300; }
  .footer1 .footer-link:hover {
    color: #3B4F61;
    text-decoration: none; }

.footer1 .nav .footer-link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.5rem; }
  .footer1 .nav .footer-link:hover {
    color: #3B4F61;
    text-decoration: none; }

.footer1 .footer-text {
  color: #EDEDED;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300; }

.footer2 .footer-link {
  color: #EDEDED;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300; }
  .footer2 .footer-link:hover {
    color: #000;
    text-decoration: none; }

.footer2 .nav .footer-link {
  margin-bottom: 0.9rem; }

.gen-link-light {
  color: #5AA3C1; }
  .gen-link-light:hover {
    color: #3B4F61; }

/* -------------------------------------------------------------------------- */
/* IMAGE STYLES */
/* -------------------------------------------------------------------------- */
.img-border {
  border: 5px solid #fff; }

.img-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08); }

.img-round {
  border-radius: 10px; }

.woman-img {
  width: 100%;
  height: auto;
  max-width: 400px; }

/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  height: auto;
  padding: 0; }
  @media screen and (min-width: 992px) {
    .containerish {
      max-width: 95%;
      height: auto;
      margin: 0 auto; } }

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  position: relative; }
  .hero .sale {
    width: auto;
    border: 2px solid white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-image: -webkit-radial-gradient(#ffffff, #8db5c6 99%);
    background-image: radial-gradient(#ffffff, #8db5c6 99%);
    z-index: 99999; }
    .hero .sale .top {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: space-around;
              justify-content: space-around;
      padding: 1rem 2rem; }
      .hero .sale .top p {
        margin: 0; }
      .hero .sale .top p:nth-child(1) {
        font-size: 18px;
        font-weight: bold; }
      .hero .sale .top p:nth-child(2) {
        font-size: 18px;
        font-weight: 300; }
    .hero .sale .bottom {
      background: #5AA3C1;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center; }
      .hero .sale .bottom p {
        margin: 0;
        font-weight: 400; }
    @media screen and (max-width: 992px) {
      .hero .sale {
        display: none; } }
  .hero .hero-slide {
    height: 85vh;
    max-height: 900px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    padding-top: 8rem;
    padding-left: 10px;
    padding-right: 10px; }
    .hero .hero-slide::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(237, 237, 237, 0.8); }
    @media screen and (min-width: 768px) {
      .hero .hero-slide::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(59, 79, 97, 0); } }
  .hero #slide-1 {
    background: url("../img/hero-1@2x.jpg") top/cover; }
  .hero #slide-2 {
    background: url("../img/hero-1@2x.jpg") top/cover; }

/* -------------------------------------------------------------------------- */
/* SEARCH SECTION */
/* -------------------------------------------------------------------------- */
.search {
  background-color: #fff;
  padding: 2rem 10px; }
  .search .ui-btn {
    padding: 0.67rem 0; }
  .search .form-control {
    border-radius: 0; }

/* -------------------------------------------------------------------------- */
/* SCULPSURE & TEMPSURE */
/* -------------------------------------------------------------------------- */
.sculpsure .content-bg {
  background: url("../img/logo_burst@2x.png") center/cover, -webkit-radial-gradient(#ffffff, #f4f9fc);
  background: url("../img/logo_burst@2x.png") center/cover, radial-gradient(#ffffff, #f4f9fc);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 100%;
  padding: 1rem; }
  @media screen and (min-width: 992px) {
    .sculpsure .content-bg {
      padding: 3rem; } }
  @media screen and (min-width: 1200px) {
    .sculpsure .content-bg {
      padding: 6rem; } }
  @media screen and (min-width: 1440px) {
    .sculpsure .content-bg {
      padding: 10rem; } }

/* -------------------------------------------------------------------------- */
/* DR. CONRAD SECTION */
/* -------------------------------------------------------------------------- */
.conrad {
  min-height: 400px;
  background: url("../img/dr-bg@2x.jpg") center/cover;
  padding: 40px 10px; }
  @media screen and (min-width: 992px) {
    .conrad {
      padding: 60px 10px; }
      .conrad img {
        margin-top: -100px; } }

/* -------------------------------------------------------------------------- */
/* NEWSLETTER SECTION */
/* -------------------------------------------------------------------------- */
.newsletter {
  background-color: #5AA3C1;
  padding: 40px 10px; }
  .newsletter .ui-btn {
    padding: 0.7rem 1rem; }
    @media screen and (min-width: 992px) {
      .newsletter .ui-btn {
        padding: 0.66rem 0.5rem; } }
  .newsletter input {
    background: transparent;
    border-radius: 0; }
  .newsletter .form-control {
    border-radius: 0; }
  .newsletter ::-webkit-input-placeholder {
    color: #EDEDED !important; }
  .newsletter :-ms-input-placeholder {
    color: #EDEDED !important; }
  .newsletter ::-ms-input-placeholder {
    color: #EDEDED !important; }
  .newsletter ::placeholder {
    color: #EDEDED !important; }

/* -------------------------------------------------------------------------- */
/* MENS SECTION */
/* -------------------------------------------------------------------------- */
.mensonly {
  padding: 0px; }
  .mensonly #mensonly {
    background: url("../img/mensonly@2x.jpg") right center/cover;
    position: relative;
    padding: 40px 10px;
    height: 55vh; }
    .mensonly #mensonly:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8); }
    @media screen and (min-width: 992px) {
      .mensonly #mensonly {
        padding: 60px 10px;
        height: 900px; }
        .mensonly #mensonly:before {
          background: transparent; } }
    @media screen and (min-width: 1200px) {
      .mensonly #mensonly {
        background: url("../img/mensonly@2x.jpg") center/cover; } }
  @media screen and (min-width: 992px) {
    .mensonly {
      padding: 40px 0px; } }

/* -------------------------------------------------------------------------- */
/* EVENT SECTION */
/* -------------------------------------------------------------------------- */
.event {
  padding: 0px; }
  .event #event {
    background: url("../img/event-bg@2x.jpg") center/cover;
    position: relative;
    padding: 40px 10px; }
    @media screen and (min-width: 992px) {
      .event #event {
        height: 400px; }
        .event #event img {
          margin-top: -80px; } }
    @media screen and (min-width: 1200px) {
      .event #event img {
        max-width: 450px;
        margin-top: -100px; } }
  @media screen and (min-width: 992px) {
    .event {
      margin-top: 2rem;
      margin-bottom: 3rem; } }
  @media screen and (min-width: 1200px) {
    .event {
      margin-top: 3rem;
      margin-bottom: 4rem; } }

/* -------------------------------------------------------------------------- */
/* ICON SECTION */
/* -------------------------------------------------------------------------- */
.icon {
  padding: 0px; }
  .icon #icon {
    background: url("../img/icon-bg@2x.jpg") center/cover;
    position: relative;
    padding: 40px 10px; }
    .icon #icon:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8); }
    @media screen and (min-width: 992px) {
      .icon #icon {
        padding: 60px 10px;
        height: 900px; }
        .icon #icon:before {
          background: transparent; } }
  @media screen and (min-width: 992px) {
    .icon {
      padding: 40px 0px; } }

/* -------------------------------------------------------------------------- */
/* REQUEST APPOINTMENT SECTION */
/* -------------------------------------------------------------------------- */
.appointments {
  background: url("../img/appointment-bg@2x.jpg") center/cover;
  padding: 40px 10px; }
  @media screen and (min-width: 992px) {
    .appointments {
      padding: 10% 15%; } }
  .appointments .appointment-info {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); }
    @media screen and (min-width: 992px) {
      .appointments .appointment-info {
        padding: 6% 0; } }
  .appointments .form-control {
    border-radius: 0; }

/* -------------------------------------------------------------------------- */
/* FINANCING SECTION */
/* -------------------------------------------------------------------------- */
.financing {
  padding: 0; }
  .financing #financing {
    background-image: -webkit-radial-gradient(#ffffff, #f4f9fc);
    background-image: radial-gradient(#ffffff, #f4f9fc);
    padding: 40px 10px; }
    .financing #financing img {
      max-width: 390px;
      margin: 0 auto;
      margin-top: 0.5rem; }
  @media screen and (min-width: 992px) {
    .financing {
      padding: 40px 10px; } }

/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FOOTER 1 SECTION */
/* -------------------------------------------------------------------------- */
.footer1 {
  min-height: 300px;
  padding: 40px 10px;
  background: url("../img/dr-bg@2x.jpg") center/cover;
  position: relative; }
  .footer1 .blogimg {
    width: 100%;
    max-width: 175px;
    height: auto;
    display: block; }

/* -------------------------------------------------------------------------- */
/* FOOTER 2 SECTION */
/* -------------------------------------------------------------------------- */
.footer2 {
  background-color: #5AA3C1;
  width: 100%;
  padding: 0.6rem 30px; }

/* -------------------------------------------------------------------------- */
/* ANIMATION STYLES */
/* -------------------------------------------------------------------------- */
.fader,
.fader-text {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.fader.show,
.fader-text.show {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.service {
  opacity: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.service.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

/* -------------------------------------------------------------------------- */
/* WORDPRESS STYLES */
/* -------------------------------------------------------------------------- */
.breadcrumbs {
  background: #3B4F61;
  font-family: "Open Sans", sans-serif; }
  .breadcrumbs a {
    color: #81C0D3; }
    .breadcrumbs a:hover {
      color: #EDEDED; }
  .breadcrumbs .current {
    color: #EDEDED; }

.shareme {
  font-family: "Open Sans", sans-serif; }
  .shareme a {
    color: #5AA3C1; }
    .shareme a:hover {
      color: #3B4F61; }

.inner-bg {
  background: url("../img/inner-bg@2x.jpg");
  background-position: center;
  background-size: cover; }

/* -------------------------------------------------------------------------- */
/* BANNER STYLES */
/* -------------------------------------------------------------------------- */
.banner-bg {
  height: 400px;
  width: 100%; }

.archive-title {
  font-variant-caps: initial; }

.banner {
  background-color: #5AA3C1; }

#banner-img-wrap {
  height: 300px;
  width: 100%;
  overflow: hidden; }
  #banner-img-wrap #banner-img {
    width: 100%;
    height: auto; }

/* -------------------------------------------------------------------------- */
/* POST SECTION STYLES */
/* -------------------------------------------------------------------------- */
#postsection {
  padding: 40px 10px; }
  #postsection h1 {
    color: #3B4F61;
    font-family: "Open Sans", sans-serif;
    font-size: 3.125rem;
    /* 50px */
    line-height: 3rem;
    font-weight: 300;
    font-style: normal; }
  #postsection h2,
  #postsection h3,
  #postsection h4,
  #postsection h5,
  #postsection h6 {
    color: #5AA3C1;
    font-family: "Open Sans", sans-serif;
    font-size: 2.1875rem;
    /* 35px */
    line-height: 2.1875rem;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1rem; }
  #postsection p {
    font-weight: 300; }
  @media screen and (min-width: 768px) {
    #postsection {
      padding: 80px 10px; } }

/* -------------------------------------------------------------------------- */
/* PAGE SECTION STYLES */
/* -------------------------------------------------------------------------- */
.pagesection h2,
.pagesection h3,
.pagesection h4 {
  color: #5AA3C1; }

.pagesection p:not(a) {
  font-weight: 300;
  margin-bottom: 1rem; }

.pagesection p:last-child() {
  margin-bottom: 0; }

.pagesection a:not(.ui-btn) {
  color: #5AA3C1; }

.pagesection .map-full {
  width: 100%;
  height: 400px; }

.sec-1,
.sec-2,
.sec-3,
.sec-5,
.sec-5 {
  min-height: 400px !important;
  padding: 4rem 10px !important; }

/* -------------------------------------------------------------------------- */
/* SECTION IMAGE STYLES */
/* -------------------------------------------------------------------------- */
img {
  width: 100%;
  height: auto; }

/* -------------------------------------------------------------------------- */
/* SVG Color: Topbar, footer and share */
/* -------------------------------------------------------------------------- */
.icons-topbar {
  width: 14px;
  height: 16px; }
  .icons-topbar path {
    fill: #3B4F61; }

.icons-topbar:hover path {
  fill: #EDEDED; }

.social-link-footer {
  width: 13.13px;
  height: 15px; }
  .social-link-footer path {
    fill: #EDEDED; }

.social-link-footer:hover path {
  fill: #81C0D3; }

.social-link-share {
  width: 14px;
  height: 16px; }
  .social-link-share path {
    fill: #5AA3C1; }

.social-link-share:hover path {
  fill: #3B4F61; }

.breadcrum-home {
  width: 16px;
  height: 14px; }
  .breadcrum-home path {
    fill: #81C0D3; }

.breadcrum-home:hover path {
  fill: #EDEDED; }

.icon-close {
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .icon-close path {
    fill: #fff; }

/* -------------------------------------------------------------------------- */
/* Search Page*/
/* -------------------------------------------------------------------------- */
#open-search {
  padding-right: 19px; }

#search-overlay {
  display: none;
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;
  height: 100vh;
  width: 100%;
  z-index: 9999999;
  padding: 170px 60px 0;
  position: fixed;
  top: 0; }
  #search-overlay em {
    display: block;
    text-align: center;
    font-size: 120%;
    margin-top: 30px;
    color: #000; }
  #search-overlay a {
    color: #000;
    font-weight: 700; }
  #search-overlay .form-control::-webkit-input-placeholder {
    color: #fff; }
  #search-overlay .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  #search-overlay .form-control:-ms-input-placeholder {
    color: #fff; }
  #search-overlay .form-control:-moz-placeholder {
    color: #fff;
    opacity: 1; }

.search-results em {
  display: block;
  text-align: center;
  font-size: 120%;
  margin-bottom: 60px; }

/* -------------------------------------------------------------------------- */
/* Pagination */
/* -------------------------------------------------------------------------- */
.pagination {
  display: table !important;
  color: #5c89a9; }
  .pagination a {
    margin-right: 2rem;
    color: #a19991; }
  .pagination a:hover {
    color: #2b2b2b; }
  .pagination .current {
    margin-right: 2rem;
    color: #a19991; }
  .pagination .dots {
    -webkit-box-flex: inherit;
    -webkit-flex: inherit;
            flex: inherit;
    margin-right: 2rem; }

/* -------------------------------------------------------------------------- */
/* Form Error Box */
/* -------------------------------------------------------------------------- */
.alert-info {
  width: 320px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #ff0000;
  border-color: #bee5eb; }
  .alert-info ul {
    padding: 0;
    margin: 0; }
    .alert-info ul li {
      list-style: none;
      padding: 0; }

/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    width: auto;
    padding: 0.8rem 1rem; } }

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and u) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    width: auto; } }

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block; }
  .topbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end; }
    .topbar .containerish {
      max-width: 90%;
      padding: 0 1rem; }
  .navbar-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end; }
    .navbar-wrapper .containerish {
      max-width: 90%; } }

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
