/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FOOTER 1 SECTION */
/* -------------------------------------------------------------------------- */
.footer-1 {
  padding: 40px 20px;
  background-color: $color-main;
  width: 100%;
  background: url("../img/footer-bg@2x.jpg") center / cover;
  min-height: 200px;
  overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0 !important;
  }

  .containerish {
    display: grid;

    .footer-col-left,
    .footer-col-mid {
      margin-bottom: 2rem !important;
    }

    .footer-col-mid {
      display: grid;
      grid-template-areas: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 1rem;

      .footer-header {
        grid-column: 1 / 3;
      }

      .footer-mid-left {
        grid-column: 1 / 2;
      }
      .footer-mid-right {
        grid-column: 2 / 3;
      }

      .footer-header:nth-child(2) {
        grid-row: 3;
        grid-column: 1 / 3;
      }
      .footer-care-logo {
        max-width: 200px;
      }
      .ui-btn {
        grid-column: 1 / 3;
        margin-top: 1rem;
      }
      img {
        grid-column: 2 / 3;
      }
    }
    .footer-col-right {
      display: grid;
      grid-template-areas: 1fr 1fr;
      grid-template-rows: repeat(5, min-content);
      grid-gap: 1rem;

      .footer-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          a {
            font-family: $font-primary;
            font-size: 15px;
            font-weight: 300;
            color: $color-light-accent;

            &:hover {
              color: $color-main;
              text-decoration: none;
            }
          }
        }
      }

      .footer-header {
        grid-column: 1 / 3;
      }

      .footer-mid-left {
        grid-column: 1 / 2;
      }
      .footer-mid-right {
        grid-column: 2 / 3;
      }
      .footer-header:nth-child(2) {
        grid-row: 3;
        grid-column: 1 / 3;
      }
    }
    img {
      grid-column: 1 / 3;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* FOOTER 2 SECTION */
/* -------------------------------------------------------------------------- */
.footer-2 {
  //content
}
