/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FOOTER 1 SECTION */
/* -------------------------------------------------------------------------- */
.footer1 {
}

/* -------------------------------------------------------------------------- */
/* FOOTER 2 SECTION */
/* -------------------------------------------------------------------------- */
.footer2 {
  background-color: $color-main;
  width: 100%;
  padding: 0.6rem 30px;
}
