/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */
header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

/* -------------------------------------------------------------------------- */
/* TOP BAR */
/* -------------------------------------------------------------------------- */
.topbar {
  width: 100%;
  height: auto;
  // padding: .3rem 0;
  background-color: $color-light-accent;

  .active {
    background-color: $color-main;
    display: inline-block;
    padding: 0.4rem 0.3rem;
  }

  .top-location {
    font-family: $font-primary;
    font-size: 15px;
    color: $color-light;
  }

  .top-link {
    font-family: $font-primary;
    font-size: 15px;
    color: $color-light;
    margin-right: 0.5rem;

    @media screen and (min-width: 992px) {
      margin-right: 1rem;
    }
  }

  .top-location:hover,
  .top-link:hover {
    color: $color-dark;
    text-decoration: none;
  }

  .top-link:last-child {
    margin-right: 0;
    padding-right: 0 !important;
  }
}

/* -------------------------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------------------------- */
.navbar {
  // background: $color-main;
  z-index: 10;

  .nav-logo {
    max-width: 150px;
  }
}

.nav-item {
  margin-right: 1rem;

  // font-family: $font-primary !important;
  .nav-link {
    font-family: $font-tertiary !important;
    color: $color-dark !important;
    font-size: 0.875rem;
    font-weight: 600;
    font-style: normal;

    &:hover {
      color: $color-light-accent !important;
    }
  }
}

.nav-item .nav-link:last-child {
  padding-right: 0;
  padding-left: 0;
}

.nav-item.nav-divider {
  position: relative;

  &::after {
    content: "";
    color: $color-main;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.nav-item:last-child {
  margin-right: 0 !important;

  .nav-link {
    margin-right: 0;
  }
}

.dropdown-menu {
  background-color: rgba($color-main, 1);
  border-color: transparent;
  margin-top: 0 !important;

  .dropdown-item {
    color: $color-light;
    font-family: $font-primary;
    font-weight: 400;

    &:hover {
      background-color: transparent;
      color: $color-extra-light;
    }

    &:focus {
      background: transparent;
    }
  }
}

.dropdown-toggle::after {
  border: none !important;
  margin-left: 0 !important;
}
