/* -------------------------------------------------------------------------- */
/* IMAGE STYLES */
/* -------------------------------------------------------------------------- */
.img-border {
  border: 5px solid $color-white;
}

.img-shadow {
  box-shadow: 0px 0px 10px rgba($color-black, 0.08);
}

.img-round {
  border-radius: 10px;
}

.woman-img {
  width: 100%;
  height: auto;
  max-width: 400px;
}