/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 1rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and u) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
  }
  /* HERO ********************************************************* */
  /* EVENT ******************************************************** */
  /* BIO ********************************************************** */
  /* SEARCH ******************************************************* */
  /* SMART LIPO *************************************************** */
  /* MORPHEUS ***************************************************** */
  /* NEWSLETTER *************************************************** */
  /* FORMA ******************************************************** */
  /* TESTIMONIALS ************************************************* */
  /* APPOINTMENTS ************************************************* */
  /* FOOTER ******************************************************* */
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  /* HERO ********************************************************* */
  /* EVENT ******************************************************** */
  /* BIO ********************************************************** */
  /* SEARCH ******************************************************* */
  /* SMART LIPO *************************************************** */
  /* MORPHEUS ***************************************************** */
  /* NEWSLETTER *************************************************** */
  /* FORMA ******************************************************** */
  /* TESTIMONIALS ************************************************* */
  /* APPOINTMENTS ************************************************* */
  /* FOOTER ******************************************************* */
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  /* HERO ********************************************************* */
  /* EVENT ******************************************************** */
  /* BIO ********************************************************** */
  /* SEARCH ******************************************************* */
  /* SMART LIPO *************************************************** */
  /* MORPHEUS ***************************************************** */
  /* NEWSLETTER *************************************************** */
  /* FORMA ******************************************************** */
  /* TESTIMONIALS ************************************************* */
  /* APPOINTMENTS ************************************************* */
  /* FOOTER ******************************************************* */
}
/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {
  /* HERO ********************************************************* */
  /* EVENT ******************************************************** */
  /* BIO ********************************************************** */
  /* SEARCH ******************************************************* */
  /* SMART LIPO *************************************************** */
  /* MORPHEUS ***************************************************** */
  /* NEWSLETTER *************************************************** */
  /* FORMA ******************************************************** */
  /* TESTIMONIALS ************************************************* */
  /* APPOINTMENTS ************************************************* */
  /* FOOTER ******************************************************* */
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {
  /* HERO ********************************************************* */
  /* EVENT ******************************************************** */
  /* BIO ********************************************************** */
  /* SEARCH ******************************************************* */
  /* SMART LIPO *************************************************** */
  /* MORPHEUS ***************************************************** */
  /* NEWSLETTER *************************************************** */
  /* FORMA ******************************************************** */
  /* TESTIMONIALS ************************************************* */
  /* APPOINTMENTS ************************************************* */
  /* FOOTER ******************************************************* */
}
