/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  height: auto;
  padding: 0;

  @media screen and (min-width: 992px) {
    max-width: 95%;
    height: auto;
    margin: 0 auto;
  }
}
/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* EVENT SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* BIO SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* SEARCH SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* SMART LIPO SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* MORPHEUS SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* NEWSLETTER SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FORMA SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* TESTIMONIALS SECTION */
/* -------------------------------------------------------------------------- */
/* LATEST BLOG */

/* -------------------------------------------------------------------------- */
/* APPOINTMENTS SECTION */
/* -------------------------------------------------------------------------- */
