/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */
header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

/* TOPBAR */
.topbar {
  width: 100%;
  height: auto;
  // padding: .3rem 0;
  background-color: $color-light-accent;

  .active {
    background-color: $color-main;
    display: inline-block;
    padding: .4rem .3rem;
  }


  .top-location {
    font-family: $font-primary;
    font-size: 15px;
    color: $color-light;
  }

  .top-link {
    font-family: $font-primary;
    font-size: 15px;
    color: $color-light;
    margin-right: .5rem;

    @media screen and (min-width: 992px) {
      margin-right: 1rem;
    }
  }

  .top-location:hover,
  .top-link:hover {
    color: $color-dark;
    text-decoration: none;
  }

  .top-link:last-child {
    margin-right: 0;
    padding-right: 0 !important;
  }
}