// Color Theme Vars
$color-main: #c86d94;
$color-dark: #3e3a42;
$color-dark-accent: #beb177;
$color-extra-dark: #000;
$color-light: #f5f5f6;
$color-light-accent: #72727e;
$color-extra-light: #fff;
$color-white: #fff;
$color-black: #000;
$color-main-copy: #6d6e63;

/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-dark {
  color: $color-dark;
}

.color-dark-accent {
  color: $color-dark-accent;
}

.color-extra-dark {
  color: $color-extra-dark;
}

.color-light {
  color: $color-light;
}

.color-light-accent {
  color: $color-light-accent;
}

.color-extra-light {
  color: $color-extra-light;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-main-copy {
  color: $color-main-copy;
}
